header{
    text-align: center;
    padding: 15px;
}

footer{
    text-align: center;
    padding: 10px;

}

footer h5{
     font-size: 90%;
}

footer h6{
    font-size: 80%;
    font-weight: bold;
    color: var(--bs-primary);
}
#removeBtn{
    background-color: red;
    border-color: red;
}
